{% extends 'base.html' %}

{% load static %}

{% block page_title %}Cafe{% endblock %} 

{% block content %}
<div class="bg-light">
    <div class="container w-100 pt-5 pb-5">
        <div class="title pb-2">
            <h3>Greenhouse Café</h3>
        </div>
        <div class="row border border-success bg-white justify-content-center">              
            <div class="image-cafe">
                <img src="{% static 'images/table-coffee-sunlight.jpg' %}" class="img-fluid pt-3" alt="Cafe Table"/>
            </div>
            <div class="content text-center">
                <p class="pt-5 pl-5 pr-5">The Greenhouse Café is located in a fantasic setting at the center of the garden. Offering fresh drinks and pastries made in the bakery next door.</p>
                <h4 class="title">Menu</h4>
                <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Price</th>                            
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>Latté</td>
                            <td>£3.50</td>
                            </tr>
                            <tr>
                            <td>Tea</td>
                            <td>£2.50</td>
                            </tr>
                            <tr>
                            <td>Pastry</td>
                            <td>£3.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
{% endblock %}