{% extends 'base.html' %}

{% load bootstrap_tags %} 

{% load static %}

{% block page_title %}Contact{% endblock %} 

{% block content %}
<div class="bg-light">
    <div class="container w-100 pt-5 pb-5">
        <div class="title pb-2">
            <h3>Contact Us</h3>
        </div>
        <!--Grid column-->
        <!--- Code modeled from MDB https://mdbootstrap.com/docs/jquery/forms/contact/ -->
        <div class="row border border-success bg-white justify-content-center p-3">
                    <p class="w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly.</p>
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="{%  url 'contact' %}" method="POST">
            {% csrf_token%}
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="message-name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="message-email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="text-center text-md-left">
                <a class="btn btn-success text-white" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>1 Penny Lane, Strawberry Hills, AoE</p>
                </li>
                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+46-06-06-06</p>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>
{% endblock %}