{% extends 'base.html' %}

{% load static %}

{% block page_title %}Grow Something{% endblock %} 

{% block content %}
<div class="bg-light">
    <div class="container w-100 pt-5 pb-5">
        <div class="title pb-2">
            <h3>Grow Your Own Pineapple</h3>
        </div>
        <div class="row border border-success bg-white justify-content-center">              
            <div class="image-cafe">
                <img src="{% static 'images/pineapple.jpg' %}" class="img-fluid pt-3" alt="Cafe Table"/>
            </div>
            <div class="content p-5">
                <p class="pl-5 pr-5">Growing your own pineabpple at home can be fun and educational for the whole family. They are very versitle plants and can even be grown indoors if you don't live in a tropical climate.</p>
                <h5 class="title">What you will need:</h5>
                <ul class="list-unstyled">
                    <li>❀ A whole pineapple with green healthy leaves.</li>
                    <li>❀ Catus Soil</li>
                    <li>❀ Planting pot large enough to hold a whole pinapple.</li>
                </ul>
                <table class="table border border-dark">
                        <tbody>
                            <tr>
                            <td>Step 1: When removing the fruit cut top off evenly.</td>                            
                            </tr>                        
                            <tr>
                            <td>Step 2: After adding soil to the planter. Place freshly cut pineapple-top directly on soil.</td>
                            </tr>
                            <tr>
                            <td>Step 3: Water and mist your pineapple once a week. Do not let the plant get overly wet and soggy.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
{% endblock %}