{% extends 'base.html' %}

{% load static from staticfiles %}

{% block page_title %}Garden Shop{% endblock %} 

{% block content %}
<!-- Jumbotron -->
<!-- Image by Kerstin Riemer from Pixabay  -->
<header class="jumbotron" id="jumbotron-one" style="background-image: url({% static 'images/garden-door-1500.jpg' %})">
    <div class="container jumbo-container">
        <h1 class="h1-jumbo mt-5 pt-1">Your Neighborhood Garden Center</h1>
        <p><a class="btn btn-success btn-lg mt-5" href="{% url 'products' %}" role="button">Shop Now</a></p>
    </div>
</header>

<!-- Favorite Products -->
<div class="container">
    <div class="header pt-4">
        <h3>Our Favorite Products</h3>
    </div>
    <div class="card-group mb-4 border-0">
    <div class="card p-3 border-0">
        <!-- Image by Free Photos from Pixabay -->
	    <img src="{% static 'images/cherries.jpg' %}" class="border img-sm w-100" alt="Cherry Tree">
        <div class="card-body">
            <p>Cherry Tree</p>
            <strong class="price">£125.50</strong>
        </div>
        <div class="card-footer bg-transparent border-0">
            <a href="{% url 'product_detail' 1 %}" class="btn btn-success btn-med active" role="button" aria-pressed="true">Shop</a>
        </div>
	</div> <!-- col.// -->
    <div class="card p-3 border-0">
        <!-- Image by www.publicdomainpictures.net -->
	    <img src="{% static 'images/pumpkin-patch.jpg' %}" class="border img-sm w-100" alt="Pumpkin Patch">
        <div class="card-body">
            <p>Pumpkin Seeds</p>
            <strong class="price">£5.00</strong>
        </div>
        <div class="card-footer bg-transparent border-0">
            <a href="{% url 'product_detail' 2 %}" class="btn btn-success btn-med active" role="button" aria-pressed="true">Shop</a>
        </div>
	</div> <!-- col.// -->
    <div class="card p-3 border-0">
        <!-- Image by https://unsplash.com/photos/95d6vqxarpM -->
	    <img src="{% static 'images/blue-gloves.jpg' %}" class="border img-sm w-100" alt="Garden Gloves">
        <div class="card-body">
            <p>Garden Gloves</p>
            <strong class="price">£10.00</strong>
        </div>
        <div class="card-footer bg-transparent border-0">
            <a href="{% url 'product_detail' 4 %}" class="btn btn-success btn-med active" role="button" aria-pressed="true">Shop</a>
        </div>
	</div> <!-- col.// -->
    <div class="card p-3 border-0">
	    <img src="{% static 'images/gift_card_2.png' %}" class="border img-sm w-100" alt="Gift Card Sample">
        <div class="card-body">
            <p>Gift Cards</p>
            <strong class="price">£25.00</strong>
        </div>
        <div class="card-footer bg-transparent border-0">
            <a href="{% url 'product_detail' 5 %}" class="btn btn-success btn-med active" role="button" aria-pressed="true">Shop</a>
        </div>
	</div> <!-- col.// -->
</div> <!-- row.// -->
</div>

<!-- Featured -->
<section class="card-group w-100">
  <div class="card">
    <!-- Image by 振鐸 李 from Pixabay -->
    <img class="card-img-top img-featured" src="{% static 'images/pineapple.jpg' %}" alt="Pineapple Plant">
    <div class="card-body">
        <h5 class="card-title">Grow Your Own</h5>
        <p class="card-text">Growing something yourself can be fun and enjoyable for the whole family. Find out how to grow your own pineapple at home.</p>
    </div>
    <div class="card-footer bg-transparent border-0">
        <a type="button" class="btn btn-outline-success" href="{% url 'pineapple' %}">Learn More</a>
    </div>
  </div>
  <div class="card">
    <!-- Image by https://c.pxhere.com/photos/d9/97/barrow_cart_equipment_flower_garden_gardening_grass_green-1159034.jpg!d -->
    <img class="card-img-top img-featured" src="{% static 'images/wheelbarrorw.jpg' %}" alt="Wheelbarrow Image">
    <div class="card-body">
        <h5 class="card-title">This Weeks Special</h5>
        <p class="card-text">Never get stuck with a flat tire again. Viking Supplies wants you to enjoy using their new rust proof wheel barrows with run flat tires.</p>
    </div>
    <div class="card-footer bg-transparent border-0">    
        <a type="button" class="btn btn-outline-success" href="{% url 'product_detail' 3 %}">Order Now</a>
    </div>
  </div>
  <div class="card">
    <!-- Image by https://pxhere.com/en/photo/835766 Photo by form PxHere -->
    <img class="card-img-top img-featured" src="{% static 'images/table-coffee-sunlight.jpg' %}" alt="Cafe Table">
    <div class="card-body">
        <h5 class="card-title">Visit the Café</h5>
        <p class="card-text">Take a break while your shopping at the Greenhouse Café. Enjoy the view with a cup of joe and something sweet.</p>
    </div>
    <div class="card-footer bg-transparent border-0">
        <a type="button" class="btn btn-outline-success" href="{% url 'cafe' %}">Menu</a>
    </div>
  </div>
</section>

{% endblock %}