{% extends 'base.html' %}

{% block content %}
<div class="container">
<h3>All Products</h3>
    <ul class="cat-list flex flex-wrap justify-center items-center">
        <li class="mx-1 d-block cat-item">
            <a href="{% url 'products' %}"><button class="cat-all">View All</button></a>
        </li>

        {% for category in categories %}
        <li class="mx-1 cat-item">
            <a href="{% url 'product_category' category %}"><button product_id="{{category}}"
                    class="cat-button">{{ category }}</button></a>
        </li>
        {% endfor %}
    </ul>

<!-- Products All -->
<div class="row row-flex">
    {% for product in products %}
        <div class="col-md-4" href="#">
            <figure class="card card-product-grid">
                <div class="img-wrap product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                <figcaption class="info-wrap p-4">
                    <div class="fix-height">
                        <a href="{%  url 'product_detail' product_id=product.id %}" class="title"><h5>{{ product.name }}</h5></a>
                        <div class="price-wrap ml-2 mt-2">
                            <p class="product-category">{{product.category}}</p>
                            <span class="price font-weight-bold">£{{ product.price }}</span>
                        </div>
                    </div>
                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">Add</button>
                            </span>
                        </div>
                    </form>
			    </figcaption>
		    </figure>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}