{% extends 'base.html' %}

{% block content %}
<section id="product">
    <div class="container">
        <div class="row">
            <!-- Users are taken to the previous page they visited -->
            <div class="col-12 d-block back-btn">
                <a href="{% url 'products' %}">Return to Shop</a>
            </div>
            <div class="d-none d-sm-block">
                <div class="media">
                    <img src="'{{ MEDIA_URL }}{{ product.image }}'" class="align-self-start mr-3 media-image" alt="Product Image">
                    <div class="media-body">
                        <h5 class="mt-0">{{ product.name }}</h5>
                        {{ product.description }}

                        <p><i class="fas fa-euro-sign"></i>{{ product.price }}</p>
                        <form method="post" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <div class="input-group product-btn">
                                <input name="quantity" type="number" min="1" max="999" class="form-control"
                                    placeholder="Quantity">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Add To Cart</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}