body {
    font-family: 'Esteban', serif;
    color: #39494f!important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

.h1-jumbo {
    text-shadow: 0 0 2px #0b3d2c; /* horizontal-offset vertical-offset 'blur' colour */
}

a {
    color: #2a7d2e;
}

.navbar {
    max-height: 70px;
    background-color: #fff;
    color: #39494f!important;
}

.navbar-brand {
    padding-top: 10px;
}

.navbar-nav {
    padding-top: 15px;
}

li {
    padding: 10px;
}

.search {
    padding-top: 10px;
}

.jumbotron {
    color: white;
    background-size: cover;
}

.jumbo-container {
    text-align: center;
}

.icon-sm {
    line-height: 48px !important;
    font-size: 20px;
    color: #fff;
}

.rounded-circle {
    padding: 15px;
}

.title {
    padding-left: 10px;
}

.card-deck {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    border: none;
}


.banner-row {
    background-color: #2a7d2e;
    background-size: cover;
    color: #fff;
    padding: 15px;
    margin-bottom: 20px;
}

.gift-card {
    width: 100%;
    padding: 15px;
}


.carousel-indicators li {
    border: none;
    background: #ccc;
}

.carousel-indicators li.active {
    background: #28a745;
}

.fav-products {
    margin-bottom: 20px;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    
}

footer {
    color: #fff;
}





.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}



caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 20px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}


