/*** Base css styles ***/
body {
    font-family: 'Esteban', serif;
    color: #39494f!important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

.h1-jumbo {
    text-shadow: 3px 0px 7px #0b3d2c,
                -3px 0px 7px #0b3d2c,
                0px 4px 7px #0b3d2c;
}

a {
    color: #2a7d2e;
}

/*** Navbar ***/
.navbar {    
    background-color: #fff !important;
    color: #39494f!important;
}

.navbar-brand {
    padding-top: 10px;
    background-color: #fff;
}

.navbar-nav {
    padding-top: 15px;
    background-color: #fff;
}

.navbar-collapse {
    background-color: #fff;
}


/*** Structure ***/
.row {
    margin-left: 0;
    margin-right: 0;
}

li {
    padding: 10px;
}

/*** Features ****/
.search {
    padding-top: 10px;
}

.jumbotron {
    color: white;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    margin-bottom: 0;
}

.jumbo-container {
    text-align: center;
}

.banner-row {
    background-size: cover;
    background-attachment: fixed;
    padding: 15px;
    margin-bottom: 20px;
}

.icon-sm {
    line-height: 48px !important;
    font-size: 20px;
    color: #fff;
}

.rounded-circle {
    padding: 15px;
}

.card-deck {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    border: none;
}

/*** Quotes ***/
.carousel-indicators li {
    border: none;
    background: #ccc;
}

.carousel-indicators li.active {
    background: #28a745;
}

/***Products ***/
.gift-card {
    width: 100%;
    padding: 15px;
}

.fav-products {
    margin-bottom: 20px;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.product-name {
    justify-content: center;
}

/*** Footer ***/
footer {
    color: #fff;
}
