{% extends 'base.html' %} 

{% block page_title %}Garden Shop{% endblock %} 

{% block content %}

<div class="jumbotron jumbotron-fluid" style="background-image: url('https://lh3.googleusercontent.com/GQsFnts95GhiER3SQmAHS6txivPWs9L3xEx1tzCPi6Mc6N4rqsaKk4bgGRAIE4wgYN3p-_mLlwj6Z3fhMZPN2wGvSB77UEKbJOMCnW0fInkBjbUGYGelP70LXumela8Vzrg5E_9SsAc=w2400')">
    <div class="container jumbo-container">
        <h1>Your Neighborhood Garden Center</h1>
        <p>...</p>
        <p>...</p>
        <p>...</p>
        <p><a class="btn btn-success btn-lg" href="#" role="button">Learn more</a></p>
    </div>
</div>
{% endblock %}