{% extends 'base.html' %} 

{% block page_title %}Garden Shop{% endblock %} 

{% block content %}
<!-- Jumbotron -->
<header class="jumbotron jumbotron-fluid" style="background-image: url('media/images/garden-door-1500.jpg')">
    <div class="container jumbo-container">
        <h1 class="h1-jumbo">Your Neighborhood Garden Center</h1>
        <br>
        <br>
        <p><a class="btn btn-success btn-lg" href="{% url 'products' %}" role="button">Shop Now</a></p>
    </div>
</header>

<!-- Favorite Products -->
<div class="container">
    <div class="header">
        <h3>Our Favorite Products</h3>
    </div>
    <div class="card-group mb-4 border-0">
    <div class="card p-3 border-0">
	    <img src="media/images/cherries-839864_1920.jpg" class="border img-sm w-100" alt="Cherry Tree">
        <div class="card-body">
            <p>Cherry Tree</p>
            <strong class="price">£125.50</strong>
        </div>
        <div class="card-footer bg-transparent border-0">
            <a href="#" class="btn btn-success btn-med active" role="button" aria-pressed="true">Shop</a>
        </div>
	</div> <!-- col.// -->
    <div class="card p-3 border-0">
	    <img src="media/images/pumpkin-patch-14765351959Oo.jpg" class="border img-sm w-100" alt="Pumpkin Patch">
        <div class="card-body">
            <p>Pumpkin Seeds</p>
            <strong class="price">£5.00</strong>
        </div>
        <div class="card-footer bg-transparent border-0">
            <a href="#" class="btn btn-success btn-med active" role="button" aria-pressed="true">Shop</a>
        </div>
	</div> <!-- col.// -->
    <div class="card p-3 border-0">
	    <img src="media/images/s-laiba-ali-95d6vqxarpM-unsplash_3.jpg" class="border img-sm w-100" alt="Garden Gloves">
        <div class="card-body">
            <p>Garden Gloves</p>
            <strong class="price">£10.00</strong>
        </div>
        <div class="card-footer bg-transparent border-0">
            <a href="#" class="btn btn-success btn-med active" role="button" aria-pressed="true">Shop</a>
        </div>
	</div> <!-- col.// -->
    <div class="card p-3 border-0">
	    <img src="media/images/gift_card_2.png" class="border img-sm w-100" alt="Gift Card Sample">
        <div class="card-body">
            <p>Gift Cards</p>
            <strong class="price">£25.00</strong>
        </div>
        <div class="card-footer bg-transparent border-0">
            <a href="#" class="btn btn-success btn-med active" role="button" aria-pressed="true">Shop</a>
        </div>
	</div> <!-- col.// -->
</div> <!-- row.// -->
</div>

<!-- Featured -->
<section class="card-group">
  <div class="card">
    <img class="card-img-top img-featured" src="https://lh3.googleusercontent.com/dHDWv_7A4Q0Un_eQcy2JD3X7UWqkZU42yOpIM0-_l6F2vEfqvIYdr7SyD7iNKE3giAHTklqP8CaZ4obK9reeM3wiPomfVqX_XkZw1AbXm7T7iyWprGNQPHv4RYP-YuB0eJwYP5HRhgI=w2400" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Grow Your Own</h5>
      <p class="card-text">Growing something yourself can be fun and enjoyable for the whole family. Find out how to grow your own pineapple at home.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-featured" src="https://c.pxhere.com/photos/d9/97/barrow_cart_equipment_flower_garden_gardening_grass_green-1159034.jpg!d" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">This Weeks Special</h5>
      <p class="card-text">Never get stuck with a flat tire again. Viking Supplies wants you to enjoy using their new rust proof wheel barrows with run flat tires.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-featured" src="https://c.pxhere.com/photos/95/7d/coffee_french_press_cafe_table_restaurant-114095.jpg!d" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Visit the Cafe</h5>
      <p class="card-text">Take a break while your shopping at the Greenhouse Cafe. Enjoy the view with a cup of joe and something sweet.</p>
    </div>
  </div>
</section>

{% endblock %}