{% extends 'base.html' %} 

{% load bootstrap_tags %} 

{% load staticfiles %}

{% block page_title %}Login Page{% endblock %} 

{% block content %}

    <div class="container pt-5 pb-5">
        <h3 class="pb-3">Sign In</h3>
        <form method="POST">
            {% csrf_token %} {{ login_form | as_bootstrap}}
        <button type="submit" class="btn btn-success">Login</button>
        </form>

        <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
    </div>



{% endblock %}