{% extends 'base.html' %} 

{% load bootstrap_tags %} 

{% load static from staticfiles %}

{% block page_title %}Login Page{% endblock %} 

{% block content %}
<div class="bg-light">
    <div class="container col-md-5 pt-4 pb-5">
        <div class="title">
            <h3>Sign In</h3>
        </div>
        <div class="row border border-success bg-white p-5 justify-content-center">
            <form class="w-100" method="POST">
                {% csrf_token %} {{ login_form | as_bootstrap}}
                <button type="submit" class="btn btn-success">Login</button>
                <p class="mt-1"><a href="{% url 'password_reset' %}">Forgot password?</a></p>
                <p class="mt-1">Don't have an account? <a href="{% url 'registration' %}">Register Here!</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}