{% extends 'base.html' %}

{% load static from staticfiles %}

{% load bootstrap_tags %}

{% block page_title %}Shopping Cart{% endblock %} 

{% block content %}
    <div class="container w-100 pt-5 pb-5">
        <div class="title pb-2">
            <h3>Shopping Cart</h3>
        </div>
        <div class="row pt-3 border border-success justify-content-center">
            {% for item in cart_items %}            
            <div class="row">                
                <div class="product ml-2" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
                    <div class="caption p-3">
                        <h4>{{ item.product.name }}</h4>
                        <div class="input-group-addon">Quanity: {{item.quantity}}</div>                 
                        <p>£{{ item.product.price }}</p>
                        <p>                        
                            <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="inputAmount" class="sr-only">New Qty</label>
                                    <p>Adjust quanity:</p>
                                    <div class="input-group">                                        
                                        <input name="quantity" type="number" min="1" max="999" class="form-control">                                        
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary ml-2"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                            </form>
                        </p>
                    </div>
                
            </div>
            {% endfor %}
        </div>
        <div class="row w-100 p-3 mb-2 bg-secondary text-white justify-content-end">
                <p>Total: </p>
                <p><span class="glyphicon glyphicon-euro pl-1" aria-hidden="true"></span>£{{ total }}</p>
                <a href="{%  url 'checkout' %}" class="btn btn-success ml-3" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
        </div>
    </div>
{% endblock %}